@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Times New Roman', Times, serif, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: whitesmoke;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.mainContainer {
  height: 100vh;
}
progress::-webkit-progress-bar {
  background-color: #eee;
}
progress::-webkit-progress-value {
  background-color: #c8aa6e;
}

.welcome-button {
  background-image:linear-gradient(#171b21,#171b21),linear-gradient(135deg,#785a28,#c8aa6e 9%,#fff6e0 32%,#c89b3c 50%,#fff7e5 75%,#c8aa6e 90%,#785a28)}